.text-medium{
  	font-family: "Source Sans Pro";
    font-size: 18px;
    line-height: 28px;
}
.text-important{
  	font-family: "Source Sans Pro";
    font-size: 22px;
    line-height: 32px;
}
.link-nav{
	color: $color-purple;
	font-family: "Source Sans Pro";
	font-size: 16px;
	font-weight: 900;
	line-height: 20px;
  text-decoration: none;
  text-transform: capitalize;
}
