<div class="block-container">
  {{>molecules-block-text-devicelab}}
  {{# loopImg}}
    <img class="block-image" src="{{src-illus}}" alt="info">
  {{/ loopImg}}
  {{# loopBtnArrow}}
    {{>atoms-btn-icon}}
  {{/ loopBtnArrow}}
</div>
