<div class="mockup-conteneur">
  <div class="mockup-titre">
    {{>molecules-title_underline}}
  </div>
  <div class="mockup">
  {{#loopTest}}
    <div class="device">
      {{>atoms-images}}
      {{>atoms-btn-icon}}
    </div>
  {{/loopTest}}
  </div>
</div>
