<div class="container-block">
  {{#loopH1}}
    {{> atoms-title-important }}
  {{/loopH1}}
  {{#loopH2}}
    <h2>{{> atoms-txt-title-h2}}</h2>
  {{/loopH2}}
    {{> atoms-text-important }}
  {{#loopBtn}}
    {{> atoms-btn-yellow-small }}
  {{/loopBtn}}
</div>
