@import "../../abstracts/mixin";


.btn-icon-disable {
	background: $color-yellow;
	opacity: $opacity-disable;
	border-radius: 50%;
	width: 56px;
	height: 56px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.26);
	display: inline-block;
	@include position(center, center);
}

.btn-icon {
	background: $color-yellow;
	border-radius: 50%;
	width: 56px;
	height: 56px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.26);
	display: inline-block;
	@include position(center, center);
}

.btn-yellow {
		height: 62px;
		width: 282px;
		background: $color-yellow;
		@include position(center, center);
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.26);
		border-radius: 3px;
}

.btn-yellow-disable {
		height: 62px;
		width: 282px;
		background: $color-yellow;
		@include position(center, center);
		border-radius: 3px;
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.26);
		opacity: $opacity-disable;
}

.linkText {
	font-family: "Source Sans Pro";
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
	color: white;
}
