.btn-icon-disable {
	background: $color-yellow;
	opacity: $opacity-disable;
	border-radius: 50%;
	width: 56px;
	height: 56px;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.12);
	display: inline-block;
}

.btn-icon {
	background: $color-yellow;
	border-radius: 50%;
	width: 56px;
	height: 56px;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.12);
	display: inline-block;
}
