/*------------------------------------*\
    #COLORS
\*------------------------------------*/
$color-yellow:#FFC107;
$opacity-disable:0.5;
$color-purple:#673AB7;





/*------------------------------------*\
    #SIZE
\*------------------------------------*/
