.mockup-device {
  height: auto;
  margin-bottom: 3em;
}

.device {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mockup-conteneur{
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
}

.mockup-titre {
  max-width: 900px;
  padding-bottom: 65px;

}

.mockup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
