.mockup-device {
  width: 100%;
  height: auto;
  margin-bottom: 3em;
}

.mockup {
@include position(center, center);
flex-direction: column;
}

.mockup-conteneur{
  margin-top: 5em;
  display: flex;
  justify-content: space-around;
}

// .customers{
//   margin-left: 20px;
//   margin-right: 20px;
// }
//
// .customers::before{
//   margin-left: 0;
// }
//
// .customers::after{
//   margin-right: 0;
// }

.customers{
  width: 15%;

}
.all_customers{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: #673AB7;
  padding-left: 15%;
  padding-right: 15%;
}
