.title-important{
  	font-family: "Source Sans Pro";
    color:$color-purple;
    font-size: 48px;
    font-weight: 900;
    line-height: 52px;
    margin: 0;
    padding-bottom: 3px;
    font-weight: 900;
}

.txt-title-h2{
  font-family: "Source Sans Pro";
  color:$color-purple;
  font-size: 42px;
  font-weight: 900;
  line-height: 52px;
  margin: 0;
  padding-bottom: 25px;
  font-weight: 900;
}

h2 {
  margin: 0;
}


hr{
  width: 14em;
  float: left;
  border: 0;
  border-top: 0.15em solid #D1C4E9;
  margin: 0;
}

.txt-title-h3{
  text-align: center;
  font-family: "Source Sans Pro";
  font-weight: 600;
  color: white;
  font-size: 1.5em;
  margin: 0;
  padding-bottom: 1.2em;
}

.recommandations{
  background-color: $color-purple;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 36px;
}
